body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 16px;
}

p:last-child {
  margin: 0;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


ul {list-style:none; padding:0; margin:0;}


.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  width:1200px;
  margin:0 auto;
  padding:0;
}

.hidden {
  display:none;
}

.header {
  border-top:3px solid #fa6900;
  position:absolute;
  top:0;
  left:0;
  right:0;
  background:#69d2e7;
}

.company-icon {
  padding:34px 0 0 100px;
  float:left;

}

.down-drop_menu {
  float:right;
  padding-top:27px;
  padding-right:110px;
}

.main-menu  {
  position:relative;
}

.down-drop_menu li {
  list-style:none;


}

.sub-menu {
  position:absolute;
  margin-left:-145px;
  display:none;
}

.sub-menu li {
  padding-top:28px;

}
.sub-menu a {
  font-size:14px;
  color:#fff;
  font-weight:bold;
  background:#fa6900;
  padding:15px 100px 15px 40px;
  border-bottom:2px solid #504343;
  border-radius:3px;

}

.main-menu > li:hover .sub-menu {
  display:block;
}
.sub-menu a:hover {
  background:#f57d26;
}


.company-description {
  text-align:center;
  padding:162px 0 168px 0;
  line-height:0.6;
}

.second-h1  {
  color:#fff;
  font-size:83px;
}

.company-description h1 {
  color:#fff;

}

.section {
  background:#69d2e7;
}

.about-us {
  background:#fff;
  border-radius:8px;
  width:835px;
  text-align:center;
  margin:0 auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-top:-100px;

}
.about-us h2 {
  font-size:37px;
  border-bottom:1px solid #ccc;
  padding-bottom:15px;

}


.description p {
  text-align:left;
  padding:0px 20px 22px 50px;
  font-size:22px;
  line-height:1.5;
}

.about-us1 {
  padding:5px 230px 0px 230px;
}

.content-blocks {
  text-align:center;


}

.content-blocks li {
  display:inline-block;
  margin:63px 52px 0px 52px;
  width:19%;

}


.content-blocks img {
  background:#fff;
  padding:31px;
  border-radius:10px;
  width:100px;
  height:100px;
}

.content-blocks .second-image {
  background:#69d2e7;
}

.content-blocks img:hover {
  background:#fa6900;
}

.content-blocks ul {
  padding-bottom:35px;
}

.blocks-description  {
  font-size:24px;
  display:block;
  color:#333;
  font-weight:bold;
  padding-top:17px;
  line-height:1.3;
}

.under-slider article {
  text-align:center;
  font-size:22px;
  color:#feeadc;
  padding:34px 200px 0px 200px;
  font-weight:300;
  line-height:33px;
}

.section_carousel {
  background:#fa6900;
}

.slider1 {
  padding:52px 0 28px 0;
}

.slide1 {
  padding:0px 0 255px 0;
  background:#fff;
  border-radius:7px;
  width:13%;
  margin:0 auto;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

.slides1 {
  transition: all 0.5s;
  text-align: center;
  display:flex;
   width:300%;
}



.slider1 input[name="switch1"] {
  display: none;
}

.switch1 {
  z-index:50;
  text-align: center;
  margin-top: -37px;
  position: absolute;
  right:0;


}

.switch1 label {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0 9px;
  border-radius: 50%;
  background-color: #FFF;
  border:1px solid #ccc;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.switch1 label:hover {
  background:#69d2e7;
}

#btn11:checked~.switch1 label[for="btn11"] {
  background:#f57d26;
}

#btn22:checked~.switch1 label[for="btn22"] {
  background:#f57d26;
}

#btn33:checked~.switch1 label[for="btn33"] {
  background:#f57d26;
}

#btn11:checked~.slider-inner1 .slides1 {
  transform: translate(0);
}

#btn22:checked~.slider-inner1 .slides1 {
  transform: translate(-33.33333%);
}

#btn33:checked~.slider-inner1 .slides1 {
  transform: translate(-66.66666%);
}

.circle-icons {
  position:absolute;
  padding:5px;
  padding-left:14px;
}

.circle-icons img {
  width:9px;

}

.circle-icons li {
  display:flex;
  display:inline;
}

.search {
  border-radius:7px 7px 0 0;
  background:#535a6c;
  text-align:right;
  padding:7px;
}

.search input {
  border-radius:8px;
  width:87%;
  border:none;
  padding:0;
}

input:focus { 
  outline: none;
}

button:focus { 
  outline: none;
}



.search img {
  margin-left:-30px;
  width:12px;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  background:none;
  border:none;
  padding:0;
}


.slider {
  position: relative;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  z-index:50;
  text-align: center;
  width: 100%;
  padding:68px 0 26px 0;


}

.switch label {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0 9px;
  border-radius: 50%;
  background-color: #FFF;
  border:1px solid #ccc;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.switch label:hover {
  background:#69d2e7;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: #69d2e7;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: #69d2e7;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: #69d2e7;

}


.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
  text-align:center;
}

.slides img {
  background:#fff;
  border-radius:50%;
  padding:42px;
  margin-top:54px;
  margin-bottom:31px;
}

.slides img:hover {
  background:#fa6900;
}

#btn1:checked~.slider-inner .slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-33.33333%);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-66.66666%);
}

.slide {
  float: left;
  margin: 0 auto;
  padding: 0;

}


.slides div {
  width: 33.3333%;
}

.slide h3 {
  font-size: 26px;
  margin:0;
  margin-top:-18px;
  padding-top:5px;
}

.text-slide  {
  margin:0 auto;
  font-size:14px;
  padding:26px 245px 0 245px;
}

.slide span {
  font-size:16px;
  font-weight:normal;
  margin:0 0 20px 0;
}

.section_about {
  background:#fff;
}

.about-container {
  padding:139px 95px 119px 101px;
}

.about-container h2  {
  font-size:26px;
  color:#fff;
  margin:0;
  line-height:1;
}

.about-container article  {
  color:#feeadc;
  font-weight:300;
  padding-top:50px;
  font-size:14px;
}

.about-container span  {
  font-weight: 300;
  font-size: 20px;
}

.left-block {
  width:50%;
  background: #fa6900;
  position: relative;
}

.left-block:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 90.5%;
  width: 100%;
  background-image: url(../images/sobka.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.section_fifth {
  background:#fff;
}

.main-lastblock {
  display: flex;
  justify-content: center;
}

.left-block:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 99%;
  width: 9999px;
  background: #fa6900;
}

.left-aside_block {
  padding:92px 42px 40px 101px;
  width:150%;

}

.soc-icons ul {
  border:1px solid #333;
  text-align:center;
  border-radius:3px;
  display:flex;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.soc-icons li {
  display:inline-block;
  border-right:1px solid #333;
}

.soc-icons a {
  display:flex;
  align-items:center;
  justify-content: center;
  padding:5px;
}

.soc-icons li:hover {
  background:#69d2e7;
  color:red;
}

.soc-icons  {
  float:left;
  padding:30px 0 15px 0;
}

.inf-text {
  float:left;
  padding-right:100px;
  font-weight:600;
  font-size:16px;
}

.right-aside_block {
  width:130%;
}

.rightblock-news {
  padding:14px 35px 37px 9px;

}

.rightblock-news li {
  display:flex;
  padding-top:5px;
}

.right-aside_block h2 { 
  margin-top:85px;
  margin-left:10px;
}

.rightblock-news article {
  font-weight:600;
  font-size:14px;

}

.rightblock-news p {
  margin:9px 0 9px 0;
}

.rightblock-news article {
  padding-left:15px;
  
}

.rightblock-news img:hover {
  background:#69d2e7;
  opacity:0.5;
  border-radius:5px;
}

.rightblock-news a {
  color:#333;
}

.footer {
  background:#69d2e7;;
}

.info-people a {
  color:#fff;
  font-size:14px;
  padding-right:91px;
}

.info-people {
  padding: 21px 10px 25px 98px;
  display:flex;
  justify-content:space-between;
}


