<<<<<<< HEAD
body {

	font-family: 'Open Sans', sans-serif;
	margin:0;
}

a{text-decoration:none;}
ul {list-style:none; padding:0; margin:0;}

.wrapper {

	position: relative;
	overflow: hidden;
  background:#f1f1f1;
}

.container-header {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
  height: 465px;
}

.container-section_one {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  height: 632px;

}

.container {
  width: 750px;
 background:#fa6900;
  height: 532px;
text-align:left;
  margin: 0 auto;
  padding: 0;
 
}

.container_slider {
  margin: 0 auto;
  padding: 0;
  height: 472px;

}

.container-third {
 width: 1200px;
  margin: 0 auto;
  padding: 0;
  height: 472px;


}

.header {
  border-top:4px solid #fa6900; 
  background:#69d2e7;


}
.company-icon {
	padding-top:34px;
  padding-left:99px;
 float:left;

}

.down-drop_menu {
float:right;
padding-top:27px;

padding-right:111px;
}

.main-menu  {
  position:relative;
}

.down-drop_menu li {
	list-style:none;


}

.sub-menu {
   position:absolute;
		z-index:1;
    margin-left:-145px;
    display:none;
}

.sub-menu li {
	padding-top:33px;

}
.sub-menu a {
	font-size:14px;
	color:#fff;
	font-weight:bold;
   background:#fa6900;
  padding:15px 100px 15px 40px;
  border-bottom:2px solid #504343;
  border-radius:3px;

}

.main-menu > li:hover .sub-menu {
   display:block;
}
.sub-menu a:hover {
background:#f57d26;
}

.company-description {
text-align:center;
padding-top:150px;
line-height:0.7;
}

.second-h1  {
color:#fff;
font-size:83px;


}
.company-description h1 {
color:#fff;

}

.about-us {
  background:#fff;
  border-radius:8px;
  height:287px;
  width:835px;
  text-align:center;
  margin:0 auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-top:-100px;

}
.about-us h2 {
  font-size:37px;
  border-bottom:1px solid #ccc;
  padding-bottom:15px;
}
.container-description {
  margin:0 auto;
  padding:0;
  text-align:center;
 

}
.description p {
  text-align:left;
  padding:0px 20px 0px 50px;
  font-size:22px;
  line-height:1.5;
  white-space:;
}

.about-us1 {
  padding:10px 250px 0px 250px;
}

.content-blocks {
text-align:center;


}

.content-blocks li {
display:inline-block;
margin:65px 52px 0px 52px;
width:19%;

}


.content-blocks img {
background:#fff;
padding:31px;
border-radius:10px;
width:100px;
height:100px;
}

.content-blocks .second-image {
background:#69d2e7;


}


.content-blocks img:hover {
background:#fa6900;


}

.blocks-description  {
font-size:24px;
display:block;
color:#333;
font-weight:bold;
padding-top:20px;

}

.content-blocks ul {

}

.section_second {
background:#fa6900;


}

.under-slider article {
text-align:center;
font-size:22px;
color:#feeadc;
padding:30px 200px 0px 200px;
font-weight:300;

}


.slider {
  position: relative;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  z-index:50;
  text-align: center;
  width: 100%;
  top:420px;
  
}

.switch label {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 12px;
  border-radius: 50%;
  background-color: #FFF;
  border:1px solid #ccc;
  box-shadow:10px #ccc;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

}

.switch label:hover {
background:#69d2e7;



}




#btn1:checked~.switch label[for="btn1"] {
  background-color: #69d2e7;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: #69d2e7;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: #69d2e7;
}

.slider-inner {
  overflow: hidden;
  height:472px;
}

.slides {
  width: 300%;
  transition: all 0.5s;
  text-align:center;
  height:472px;
 
}

.slides img {
 background:#fff;
 border-radius:50%;
 padding:40px;
 margin-top:50px;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-33.33333%);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-66.66666%);
}

.slide {
  float:left;
 margin:0 auto;
 padding:0;

}
.section_fourth {
 background:#fff;
}

.slides div  {
  width:33.33333%;
}


.slide h3 {
  font-size:26px;
  line-height:0.1;
  
}

.text-slide  {
width:700px;
margin:0 auto;
font-size:16px;
padding-top:20px;
}

.slide span {
 font-size:21px;
 font-weight:normal;



}

.about-container  {
 padding:120px 0px 70px 300px;
width:443px;

 
}

.about-container h2  {
font-size:26px;
 color:#fff;
 margin:0;
 line-height:1;
}

.about-container article  {
color:#feeadc;
 font-weight:300;
 padding-top:30px;
}

.about-container span  {
  font-weight:300;
  font-size:19.8px;
 
}

.about-container p  {
 padding-top:5px;
}


.scobka {


  position:absolute;
  bottom:0;
  left:745px;
  margin-bottom:-3px;
  }
=======
body {

	font-family: 'Open Sans', sans-serif;
	margin:0;
}

a{text-decoration:none;}
ul {list-style:none; padding:0; margin:0;}

.wrapper {

	position: relative;
	overflow: hidden;
  background:#f1f1f1;
}

.container-header {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
  height: 465px;
}

.container-section_one {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  height: 632px;

}

.container {
  width: 750px;
 background:#fa6900;
  height: 532px;
text-align:left;
  margin: 0 auto;
  padding: 0;
 
}

.container_slider {
  margin: 0 auto;
  padding: 0;
  height: 472px;

}

.container-third {
 width: 1200px;
  margin: 0 auto;
  padding: 0;
  height: 472px;


}

.header {
  border-top:4px solid #fa6900; 
  background:#69d2e7;


}
.company-icon {
	padding-top:34px;
  padding-left:99px;
 float:left;

}

.down-drop_menu {
float:right;
padding-top:27px;

padding-right:111px;
}

.main-menu  {
  position:relative;
}

.down-drop_menu li {
	list-style:none;


}

.sub-menu {
   position:absolute;
		z-index:1;
    margin-left:-145px;
    display:none;
}

.sub-menu li {
	padding-top:33px;

}
.sub-menu a {
	font-size:14px;
	color:#fff;
	font-weight:bold;
   background:#fa6900;
  padding:15px 100px 15px 40px;
  border-bottom:2px solid #504343;
  border-radius:3px;

}

.main-menu > li:hover .sub-menu {
   display:block;
}
.sub-menu a:hover {
background:#f57d26;
}

.company-description {
text-align:center;
padding-top:150px;
line-height:0.7;
}

.second-h1  {
color:#fff;
font-size:83px;


}
.company-description h1 {
color:#fff;

}

.about-us {
  background:#fff;
  border-radius:8px;
  height:287px;
  width:835px;
  text-align:center;
  margin:0 auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-top:-100px;

}
.about-us h2 {
  font-size:37px;
  border-bottom:1px solid #ccc;
  padding-bottom:15px;
}
.container-description {
  margin:0 auto;
  padding:0;
  text-align:center;
 

}
.description p {
  text-align:left;
  padding:0px 20px 0px 50px;
  font-size:22px;
  line-height:1.5;
  white-space:;
}

.about-us1 {
  padding:10px 250px 0px 250px;
}

.content-blocks {
text-align:center;


}

.content-blocks li {
display:inline-block;
margin:65px 52px 0px 52px;
width:19%;

}


.content-blocks img {
background:#fff;
padding:31px;
border-radius:10px;
width:100px;
height:100px;
}

.content-blocks .second-image {
background:#69d2e7;


}


.content-blocks img:hover {
background:#fa6900;


}

.blocks-description  {
font-size:24px;
display:block;
color:#333;
font-weight:bold;
padding-top:20px;

}

.content-blocks ul {

}

.section_second {
background:#fa6900;


}

.under-slider article {
text-align:center;
font-size:22px;
color:#feeadc;
padding:30px 200px 0px 200px;
font-weight:300;

}


.slider {
  position: relative;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  z-index:50;
  text-align: center;
  width: 100%;
  top:420px;
  
}

.switch label {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 12px;
  border-radius: 50%;
  background-color: #FFF;
  border:1px solid #ccc;
  box-shadow:10px #ccc;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

}

.switch label:hover {
background:#69d2e7;



}




#btn1:checked~.switch label[for="btn1"] {
  background-color: #69d2e7;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: #69d2e7;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: #69d2e7;
}

.slider-inner {
  overflow: hidden;
  height:472px;
}

.slides {
  width: 300%;
  transition: all 0.5s;
  text-align:center;
  height:472px;
 
}

.slides img {
 background:#fff;
 border-radius:50%;
 padding:40px;
 margin-top:50px;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-33.33333%);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-66.66666%);
}

.slide {
  float:left;
 margin:0 auto;
 padding:0;

}
.section_fourth {
 background:#fff;
}

.slides div  {
  width:33.33333%;
}


.slide h3 {
  font-size:26px;
  line-height:0.1;
  
}

.text-slide  {
width:700px;
margin:0 auto;
font-size:16px;
padding-top:20px;
}

.slide span {
 font-size:21px;
 font-weight:normal;



}

.about-container  {
 padding:120px 0px 70px 300px;
width:443px;

 
}

.about-container h2  {
font-size:26px;
 color:#fff;
 margin:0;
 line-height:1;
}

.about-container article  {
color:#feeadc;
 font-weight:300;
 padding-top:30px;
}

.about-container span  {
  font-weight:300;
  font-size:19.8px;
 
}

.about-container p  {
 padding-top:5px;
}


.scobka {


  position:absolute;
  bottom:0;
  left:745px;
  margin-bottom:-3px;
  }
>>>>>>> dfef8c14113b85d5118922725f9840818a08624b
