  
 body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

p {
  margin:0 0 20px;
}


p:last-child {
  margin: 0;
}



input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


ul {list-style:none; padding:0; margin:0;}


.wrapper {
  overflow:hidden;

}

.container {
  max-width:1200px;
  margin:0 auto;
}

.hidden {
  display:none;
}

.header {
  border-top:3px solid #fa6900;
  position:absolute;
  top:0;
  left:0;
  right:0;
  background:#69d2e7;
}

.logo {
  padding:34px 0 0 100px;
  float:left;

}

.flex-center { 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -ms-flex-align: center; 
  align-items: center; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
 } 

 * { 
  box-sizing: border-box; 
 
 } 
 
 a, 
 a:visited, 
 a:hover, 
 a:active { 
  color: #fff; 
  text-decoration: none; 
 } 
 
 .outer-menu { 
  position: relative; 
  top:27px; 
  right: 111px; 
  z-index: 1; 


 } 
 .outer-menu .checkbox-toggle { 
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 2; 
  cursor: pointer; 
  width: 60px; 
  height: 60px; 
  opacity: 0; 
  padding-right:100px;
 } 
 .outer-menu .checkbox-toggle:checked + .hamburger > div { 
  -webkit-transform: rotate(135deg); 
  -ms-transform: rotate(135deg); 
  transform: rotate(135deg); 
 } 
 .outer-menu .checkbox-toggle:checked + .hamburger > div:before, 
 .outer-menu .checkbox-toggle:checked + .hamburger > div:after { 
  top: 0; 
  -webkit-transform: rotate(90deg); 
  -ms-transform: rotate(90deg); 
  transform: rotate(90deg); 
 } 
 .outer-menu .checkbox-toggle:checked + .hamburger > div:after { 
  opacity: 0; 
 } 
 .outer-menu .checkbox-toggle:checked ~ .menu { 
  pointer-events: auto; 
 } 
 .outer-menu .checkbox-toggle:checked ~ .menu > div { 
  width: 100%; 
  height: 100%; 
 } 
 .outer-menu .checkbox-toggle:checked ~ .menu > div > div { 
  opacity: 1; 
  -webkit-transition: opacity 0.3s ease 0.3s; 
  transition: opacity 0.3s ease 0.3s; 
 } 
 .outer-menu .checkbox-toggle:hover + .hamburger { 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); 
 } 
 .outer-menu .checkbox-toggle:checked:hover + .hamburger > div { 
  -webkit-transform: rotate(225deg); 
  -ms-transform: rotate(225deg); 
  transform: rotate(225deg); 
 } 
 .outer-menu .hamburger { 
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 1; 
  width: 40px; 
  height: 40px; 
  padding: .5em 0.5em; 
  border:2px solid #fff;
  border-radius:19px;
  cursor: pointer; 
  -webkit-transition: box-shadow 0.3s ease; 
   transition: box-shadow 0.3s ease; 
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -ms-flex-align: center; 
  align-items: center; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
 } 
 .outer-menu .hamburger > div { 
  position: relative; 
  -webkit-box-flex: 0; 
  -webkit-flex: none; 
  -ms-flex: none; 
  flex: none; 
  width: 100%; 
  height: 2px; 
  background: #fefefe; 
  -webkit-transition: all 0.3s ease; 
  transition: all 0.3s ease; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -ms-flex-align: center; 
  align-items: center; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
 } 
 .outer-menu .hamburger > div:before, 
 .outer-menu .hamburger > div:after { 
  content: ''; 
  position: absolute; 
  z-index: 1; 
  top: -10px; 
  left: 0; 
  width: 100%; 
  height: 2px; 
  background: #fff; 
  -webkit-transition: all 0.3s ease; 
  transition: all 0.3s ease; 
 } 
 .outer-menu .hamburger > div:after { 
           top: 10px; 
 } 
 .outer-menu .menu { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  pointer-events: none; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -ms-flex-align: center; 
  align-items: center; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
 } 
 .outer-menu .menu > div { 
  width: 0; 
  height: 0; 
  color: #fefefe; 
  background: #fa6900;  
  -webkit-transition: all 0.3s ease; 
  transition: all 0.3s ease; 
  -webkit-box-flex: 0; 
  -webkit-flex: none; 
  -ms-flex: none; 
  flex: none; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -ms-flex-align: center; 
  align-items: center; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
 } 
 .outer-menu .menu > div > div { 
  text-align: center; 
  max-width: 90vw; 
  max-height: 100vh; 
  opacity: 0; 
  -webkit-transition: opacity 0.3s ease; 
  transition: opacity 0.3s ease; 
  overflow: hidden; 
  -webkit-box-flex: 0; 
  -webkit-flex: none; 
  -ms-flex: none; 
  flex: none; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -ms-flex-align: center; 
  align-items: center; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
 } 
 .outer-menu .menu > div > div > ul { 
  list-style: none; 
  padding: 0 1em; 
  margin: 0; 
  display: block; 
  max-height: 100vh; 
 } 
 .outer-menu .menu > div > div > ul > li { 
  padding: 0; 
  margin: 1em; 
  font-size: 24px; 
  display: block; 
 } 
 .outer-menu .menu > div > div > ul > li > a { 
  position: relative; 
  display: inline-block; 
  cursor: pointer; 
  -webkit-transition: color 0.3s ease; 
  transition: color 0.3s ease; 
  position:relative;
 } 
 .outer-menu .menu > div > div > ul > li > a:hover { 
  color: #e5e5e5; 
 } 
 .outer-menu .menu > div > div > ul > li > a:hover:after { 
  width: 100%; 
 } 
 .outer-menu .menu > div > div > ul > li > a:after { 
  content: ''; 
  position: absolute; 
  z-index: 1; 
  bottom: -0.15em; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background: #e5e5e5; 
  -webkit-transition: width 0.3s ease; 
  transition: width 0.3s ease; 
 }
 
 


.company-description {
  text-align:center;
  padding:161px 0 168px 0;
  line-height:0.6;
}

.second-h1  {
  color:#fff;
  font-size:83px;
}

.company-description h1 {
  color:#fff;

}

.section {
  background:#69d2e7;
}

.about-us {
  background:#fff;
  border-radius:8px;
  width:835px;
  text-align:center;
  margin:0 auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-top:-100px;

}
.about-us h2 {
  font-size:37px;
  border-bottom:1px solid #ccc;
  padding-bottom:13px;

}


.description p {
  text-align:left;
  padding:0px 20px 22px 34px;
  font-size:22px;
  line-height:1.5;
}

.about-us1 {
  padding:3px 230px 0px 230px;
}

.content-blocks {
  text-align:center;


}

.content-blocks li {
  margin:65px 56px 0px 56px;
  width:19%;

}


.imaga {
  width: 160px;
  height: 160px;
  padding: 40px;
  background: #fff;
  margin:0 auto;
  border-radius: 10px;
}

.second-imaga {
  width: 160px;
  height: 160px;
  padding: 40px 0 40px;
  background: #69d2e7;
  margin: 0 auto;
  border-radius: 10px;
}

.content-blocks .second-imaga {
  background:#69d2e7;
}

.second-imaga img:hover {
  background:#fa6900;
}

.second-imaga:hover {
  background:#fa6900;

}

.content-blocks .imaga:hover {
  background:#fa6900;
}



.content-blocks ul {
  padding-bottom:37px;
  display:flex;
  justify-content:center;
}

.blocks-description  {
  font-size:24px;
  display:block;
  color:#333;
  font-weight:bold;
  padding-top:24px;
  line-height:1.3;
}

#slides article{ 
  width: 33.3333%;
}

#slides .image{ 
  width: 300%;
  display:flex;
}

#overflow{ 
  width: 100%;
  overflow: hidden;

}


#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2){
  background: url(../images/left-arrow.png) no-repeat; 
  display: block;
  height: 68px;
  width: 30px;
  float:left;
  margin-left:39%;
}


#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1){
  background: url(../images/right-arrow.png) no-repeat; 
  display: block;
  height: 68px;
  width: 30px;
  float:right;
}

label, a{ 
  cursor: pointer;
}

.standart-controls { 
  display:none;
}


#switch1:checked ~ #slides .image{
  margin-left: 0;
}

#switch2:checked ~ #slides .image{
  margin-left: -100%;
}

#switch3:checked ~ #slides .image{
  margin-left: -200%;
}


#controls{ 
  position:absolute;
  width:71%;
  margin:-17% 0 0 0;
}



#slides .image{ 
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ 
  opacity: 0.6;
}

#controls label{ 
  transition: opacity 0.2s ease-out;
}

.top-slider h3 {
  text-align:center;
  color:#feeadc;
  font-weight:300;
  margin:0;
  padding:39px 230px 9px 230px;
  font-size:22px;
}

.section_carousel {
  background:#fa6900;
}

.web-content-slide {
  padding:2px 0 3px 0;
  text-align:center;
}

.web-content-slide img {
  margin-bottom:-5px;
  width:100%;
  
}

.web-slide {
  background:#fff;
  padding:0 0px 200px 0px;
  border-radius:7px 7px 0 0;
  width:40%;
  margin:0 auto;
}



.slider {
  position: relative;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  z-index:50;
  text-align: center;
  width: 100%;
  padding:73px 0 27px 0;
}

.switch label {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0 9px;
  border-radius: 50%;
  background-color: #FFF;
  border:1px solid #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.switch label:hover {
  background:#69d2e7;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: #69d2e7;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: #69d2e7;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: #69d2e7;

}


.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
  text-align:center;
}

.image-profile {
  padding: 40px;
  background: #fff;
  width: 180px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 54px;
  margin-bottom: 34px;
 
}

.image-profile:hover {
  background:#fa6900;
 
}

.slides img:hover {
  background:#fa6900;
}

#btn1:checked~.slider-inner .slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-33.33333%);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-66.66666%);
}

.slide {
  float: left;
  margin: 0 auto;
  padding: 0;
}


.slides div {
  width: 33.3333%;
}

.slide h3 {
  font-size: 26px;
  margin:0;
  margin-top:-18px;
  padding-top:7px;
}

.text-slide  {
  margin:0 auto;
  font-size:14px;
  padding:26px 260px 0 260px;
}

.slide span {
  font-size:22px;
  font-weight:normal;
  margin:0 0 20px 0;
}

.section_about {
  background:#fff;
}

.about-container {
  padding:121px 60px 120px 101px;
}

.about-container h2  {
  font-size:26px;
  color:#fff;
  margin:0;
  line-height:1;
  padding-top:19px;
}

.about-container div  {
  color:#feeadc;
  font-weight:300;
  padding-top:46px;
  font-size:16px;
  line-height:19px;
}

.about-container h3  {
  font-size:21px;
  color:#feeadc;
  font-weight:300;
  margin:0;
}

.left-block {
  width:50%;
  background: #fa6900;
  position: relative;
}

.left-block:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 90.5%;
  width: 100%;
  background-image: url(../images/block-figure.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.section_fifth {
  background:#fff;
}

.main-lastblock {
  display: flex;
  justify-content: center;
}

.left-block:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 99%;
  width: 9999px;
  background: #fa6900;
}

.left-aside_block {
  padding:92px 42px 15px 101px;
  width:150%;

}

.soc-icons ul {
  border:1px solid #333;
  text-align:center;
  border-radius:3px;
  display:flex;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.soc-icons li {
  display:inline-block;
  border-right:1px solid #333;
}

.soc-icons li:last-child {
  border:none;
}

.soc-icons a {
  display:flex;
  align-items:center;
  justify-content: center;
  padding: 6px 4px 8px 5px;
}

.soc-icons li:hover {
  background:#69d2e7;
  color:red;
}

.soc-icons  {
  float:left;
  padding:28px 0 15px 0;
}

.inf-text {
  line-height:25px;
  float:left;
  padding-right:80px;
  font-size:16px;
}

.inf-text p {
  margin:4px 0 27px 0;
}

.right-aside_block {
  width:120%;
}

.rightblock-news {
  padding:8px 35px 36px 9px;

}

.rightblock-news li {
  display:flex;
  padding-top:6px;
}

.right-aside_block h2 { 
  margin-top: 82px;
  margin-left: 16px;
  font-size: 28px;
}

.rightblock-news article {
  font-size:14px;

}


.rightblock-news h3 {
  margin:5px 0 13px 0;
  font-size:15px;
}



.rightblock-news article {
  padding-left:19px;
  
}



.rightblock-news a {
  color:#333;
}

.footer {
  background:#69d2e7;;
}

.info-people span {
  color:#fff;
  font-size:14px;
  padding-right:91px;
}

.info-people {
  padding: 20px 10px 25px 98px;
  display:flex;
  justify-content:space-between;
}

.info-people a {
  font-size:14px;
}


@media only screen and (max-width : 767px)   {

.logo img {
   width:100%;
  }

.logo {
  padding:34px 0 0 20px;
}

.outer-menu .hamburger {
  width:40px;
  height:40px;
  border-radius:100%;
  border:2px solid #fff;
  transform: scale(1.3);
}

.outer-menu .hamburger > div {
  height:2px;
}

.outer-menu {
  right:20px;
  top:35px;
}

.outer-menu .hamburger > div:before, .outer-menu .hamburger > div:after {
  top:-10px;
  height:2px;
}
.outer-menu .hamburger > div:after {
  top:10px;
}
.about-us {
  padding:0 0 0 0;
  width:100%;
}

.about-us h2 {
  width: 50%;
  margin: 0 auto;
  padding:10px 0 0 0;
}
.about-us1 {
  padding:10px 0 10px 0;
  }

.top-slider h3 {
  padding: 10px 20px 0 20px;
  font-size:19px;
}

.web-content-slide img {
  width:100%;
}

.text-slide {
  padding:20px 20px 0 20px;
  font-size:16px;
}

.about-container {
  padding: 20px 20px 50px 20px;
}

.content-blocks li {
  margin:0 auto;
  width: 100%;
}

.imaga {
  margin:0 auto;
}

.second-imaga {
  margin:0 auto;
  width:200px;
  height:200px;
  padding:60px 0 60px;
}

.blocks-description {
  padding: 24px 0px 24px 0px;
  line-height: 1.3;
  width:55%;
  margin:0 auto;

}

.content-blocks ul {
  display:block;
  padding: 30px 0 10px 0;
}

.description p {
  padding: 0px 20px 22px 20px;
}

.about-us h2 {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}

.switch {
  padding: 40px 0 25px 0;
}

.left-block:after {
  display:none;
}

.left-block {
  width:100%; 
}

.main-lastblock {
  display:block;
}

.left-aside_block {
  padding: 40px 20px 10px 20px;
  width: 100%;
}
.inf-text {
  padding:0;
  font-size:19px;
}

.right-aside_block {
  width: 100%;
}

.rightblock-news {
  padding: 8px 0px 36px 12px;
}

.info-people {
  padding: 20px 20px 25px 20px;
  text-align:center;
}

.info-people span {
  padding:0;
  font-size:17px;
}

.rightblock-news article {
  padding: 0px 10px 0 19px;
  font-size:17px;
}

.web-content-slide img {
  padding-left: 0px;
}

.rightblock-news h3 {
  font-size: 20px;
}

.info-people a {
  font-size: 17px;
}

.image-profile {
  margin-top:20px;
}

.about-container div {
  font-size: 19px;
}

.imaga {
  width: 200px;
  height: 200px;
  padding: 60px;
}

.company-description {
  line-height: 32px;
}

}


@media only screen and (max-width : 360px)  {
.outer-menu .hamburger {
  transform: scale(1.3);
}

.outer-menu {
  right:20px;
  top:35px;
}


}

@media only screen and (max-width : 835px)  {
.about-us {
  width:100%;
}

}

@media only screen and (max-width : 600px)  {
.info-people {
  display:block;
}

}

@media only screen and (max-width : 1024px)  {
#controls {
  margin:-20% 0 0 0 ;
  
}

}

@media only screen and (min-width: 767px) and (max-width:1200px) {
.about-us {
  width:85%;
  padding:0 0 0 0;
}

.top-slider h3 {
  text-align: center;
  color: #feeadc;
  font-weight: 300;
  margin: 0;
  padding: 39px 50px 9px 50px;
  font-size: 22px;
}

.text-slide {
  padding: 26px 190px 0 190px;
}

.about-container {
  padding: 60px 36px 76px 57px;
}

.left-block:after {
  left:91.5%;
}

.inf-text {
  padding-right: 0px; 

}

.left-aside_block {
  padding: 92px 20px 15px 40px;
  width: 110%;
}

.outer-menu .hamburger {
  transform: scale(1.3);
}

.outer-menu {
  top:35px;
}

.about-us1 {
    padding: 3px 180px 0px 180px;
}

}

@media only screen and (min-width:1024px) and (max-width:1200px) {
.top-slider h3 {
  padding: 39px 150px 9px 150px;
}

#controls {
  margin:-18% 0 0 0 ;
  
}

}



































